#anMusic-page
  #anMusicBtnGetSong(title="Random Jay Chou singles to open the otherworldly big dream")
    i(class="anzhiyufont anzhiyu-icon-shuffle")
  #anMusicRefreshBtn(title="Refresh the latest song list now")
    i(class="anzhiyufont anzhiyu-icon-arrows-rotate")
  #anMusicSwitching(title="Switching song list")
    i(class="anzhiyufont anzhiyu-icon-repeat")
  #anMusic-page-meting