#console
  .close-btn(onclick='anzhiyu.hideConsole()', href='javascript:void(0);')
    i.anzhiyufont.anzhiyu-icon-circle-xmark(style="font-size: 35px;")
  .console-card-group-reward
    ul.reward-all.console-card
      each item in theme.reward.QR_code
        li.reward-item
          a(href=url_for(item.link || item.img), target='_blank')
            img.post-qr-code-img(alt=item.text, src=url_for(item.img))
          .post-qr-code-desc=item.text
  .console-card-group
    .console-card-group-left
      !=partial('includes/widget/card_newest_comment', {}, {cache: true})
    - const nav_console_music_enable = theme.nav_music.console_widescreen_music
    .console-card-group-right
      .console-card.tags(onclick='anzhiyu.hideConsole()')
        .card-content
          if nav_console_music_enable
            .author-content-item-tips Music
            span.author-content-item-title Collision of souls 💥
          else 
            .author-content-item-tips Points of Interest
            span.author-content-item-title Find your area of interest
            !=partial('includes/widget/card_tags', {}, {cache: true})
      .console-card.history(onclick='anzhiyu.hideConsole()')
        .item-headline
          i.anzhiyufont.anzhiyu-icon-box-archiv
          span Articles
        !=partial('includes/widget/card_archives', {}, {cache: true})
  .button-group
    .console-btn-item
      a.darkmode_switchbutton(onclick='rm.switchDarkMode()', title='Display mode switching', href='javascript:void(0);')
        i.anzhiyufont.anzhiyu-icon-moon
    .console-btn-item#consoleHideAside(onclick='anzhiyu.hideAsideBtn()', title='Sidebar display control')
      a.asideSwitch
        i.anzhiyufont.anzhiyu-icon-arrows-left-right
    .console-btn-item.on#consoleCommentBarrage(onclick='anzhiyu.switchCommentBarrage()', title='Hot Reviews Switch')
      a.commentBarrage
        i.anzhiyufont.anzhiyu-icon-message
    .console-btn-item#consoleMusic(onclick='anzhiyu.musicToggle()', title='Music Switch')
      a.music-switch
        i.anzhiyufont.anzhiyu-icon-music
  .console-mask(onclick='anzhiyu.hideConsole()', href='javascript:void(0);')
